@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Style+Script&display=swap');

$Montserrat: 'Montserrat';
$primary-blue: #29334F;
$green: #3AEBB6;
$white: #fff;
$black: rgba(0, 0, 0, 0.849);
$grey: #edeeee;
$lightgrey: #f8fafb;
$deepgrey: #cad0ce;
$yellow: #ecd45c;
$p-fontzise: 17px;
$h1-fontsize: 1.363rem;
$date-fontsize: 1.1rem;
$bold700: 700;
$bold500: 500;