@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Style+Script&display=swap');

$Montserrat: 'Montserrat';
$primary-blue: #29334F;
$green: #3AEBB6;
$white: #fff;
$black: rgba(0, 0, 0, 0.849);
$grey: rgb(182, 179, 179);
$lightgrey: #f8fafb;
$p-fontzise: 17px;
$h-fontsize: 1.363rem;
$bold700: 700;
$bold500: 500;